@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo ao projeto de modelo baseado em .NET Core 3.1</h1>
    <br />
    <br />
    <h2>Tecnologias utilizadas</h2>
    <br />
    <ul style="list-style-type: none;">
        <li>
            .NET Core 3.1
        </li>
        <li>
            DDD
        </li>
        <li>
            EF 6.4.4
        </li>
        <li>
            AutoMapper
        </li>
        <li>
            IoC
        </li>
    </ul>    
</div>
